.textbox{
    float: right;
    border: 1px solid solid black;
    
}

ul {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
}

ul li{
    float: left;
    text-transform: capitalize;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 2px 2px plum;
}



b{
    color: black;
    border-bottom: 2px solid purple;
    font-weight: bold;
    font-family: oswald,sans-serif;
    text-shadow:2px 2px plum;
}

.textbox ul li a {
    color: black;
}
.textbox ul li a:hover {
    color: white;
}


